@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans+SC&display=swap");

/* GLOBAL VARIABLES */
:root {
  --dashHeightVar: 60vh;
  --footHeightVar: 40vh;
}

/* RESETS */

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
}

/* DASHBOARD */
.dashBoard {
  background: white;
  height: var(--dashHeightVar);
  position: relative;
  border-top: 2px dashed #00b894;
  width: 99vw;
  margin: 0 auto;
}

.borderClass {
  height: 70vh;
  width: 100%;
  background: white;
  display: inline-block;
  position: absolute;
  z-index: -1;
  border: 2px dashed #00b894;
}

.highlight {
  color: #00b894;
}

.loss {
  color: #ff7675;
}
.focusContent {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.5rem;
  text-align: center;
  transform: translate(-50%, -50%);
}
/* FOOTER  */

.footerBoard {
  background: #00b894;
  height: var(--footHeightVar);
  border-radius: 20px 20px 0 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerSection {
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
/* Slider */
.slider {
  -webkit-appearance: none;
  width: 70vw;
  height: 15px;
  background: white;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border: 4px solid white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: #4caf50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;

  border-radius: 100px;
  background: #4caf50;
  cursor: pointer;
}

/* INPUT SECTION */

.inputSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.inputSection input {
  margin-bottom: 10px;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 1200px) {
  * {
    font-size: 1.15rem;
  }
  .footerBoard {
    border-radius: 0%;
  }
}
